{
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "ignore",
  "printWidth": 120,
  "singleQuote": true,
  "overrides": [
    {
      "files": ["tsconfig.*"],
      "options": {
        "parser": "jsonc"
      }
    }
  ]
}
